body{
margin:0em;
}
li{
list-style:none;
}
















.Navbar{
    background-color:#000;
    color:white;
    margin:0em;

    box-shadow:0em .5em .2em rgba(0,0,0,0.2);
}

.Navbar_arrange{

    min-height:4.2em;

    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin:0em 10em;
}

.main_content{

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.style{
border:solid .125em rgba(0,0,0,0.2);
box-shadow:0.5em 1em rgba(0,0,0,0.5);
border-radius:0.5em;


}

.login{
width:21vw;
margin:21vh auto;
}

.signup{
width:40vw;
margin:2vh auto;
}


.message_show{
    background-color:lightgreen;
    border:green .05em solid;
    border-radius:0.25em;
    padding:0.5em 0.5em;
    margin:1em;
    min-width:25em;
    text-align:start;
}